body
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3
{
    font-weight: bold;
    line-height: 1.5;
}

p
{
    color: #8f8f8f;
}

/* Headings */

.big-heading
{
    font-size: 3.5rem;
    font-weight: 900;
}

.section-heading
{
    font-size: 3rem;
}

/* Sections */

.container-fluid
{
    padding: 7% 15%;
}

.colored-section
{
    color: white;
    background-color: #ff4c68;
}

.white-section
{
    background-color: white;
}

/* Navigation Bar */

.navbar 
{
    padding: 0 0 4.5rem;
}

.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Download Buttons */

.download-button
{
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid
{
    padding-top: 3%;
    text-align: left;
}

.title-col
{
    position: relative;
}

.title-image
{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features */

.icons
{
   color: #ef8172;
   margin-bottom: 1rem;
}

.icons:hover
{
   color: #ff4c68;
}

.features-title
{
    font-size: 1.5rem;
}

.features-box
{
    padding: 5%;
}

#features
{
    position: relative;
}

/* Testimonials */

.testimonials-text
{
    font-size: 3rem;
}

.testimonials-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item
{
    padding: 7% 15%;
}

#testimonials
{
    background-color: #ef8172;
}

/* Press */

#press
{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing
{
    padding: 100px;
}

.price-names
{
    font-size: 1.5;
}

.price-text
{
    font-size: 3rem;
}

.card-holder
{
    padding: 3% 2%;
}

/* Footer */

.footer-icons
{
    padding: 1rem 0.5rem;
    color: #222529;
}

/* Media Query Breakpoints */

@media (max-width: 1028px)
{
    #title .container-fluid
    {
        text-align: center;
    }

    .title-image
    {
        position: static;
        transform: rotate(0deg);
    }
}
